:root{
    --font-header: "Poppins", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-card: "Hind", sans-serif;
    --font-size-small: 1.1rem; /* CARD */
    --font-size-small-medium: 1.2rem; /* NORMAL */
    --font-size-medium: 1.7rem; /* SUBTITLE */
    --font-size-large: 2.8rem; /* LARGE */
    --font-size-xlarge: 3.5rem; /* TITLE */
    --orange: #f7ab30;
    --gray: #747474;
    --light-yellow: #f9f6a5;
    --black: #000000;
    --white: #ffffff;
    --shadow: #dad9d9;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-size: 10px;
}


/* MOBILE */

/* HEADER */

.header{
    background: var(--white);
    display: flex;
    font-size: var(--font-size-small-medium);
    font-family: var(--font-header);
    font-weight: 500;
    padding: 1.2rem 1rem;
    justify-content: space-between;
    z-index: 1001;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 6px var(--shadow);
}

.header-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-img{
    width: 50px;
}

.header-logo a span{
    color: var(--orange);
    font-weight: 600;
}

.header-nav{
    display: none;
}

.header-nav.active{
    display: block;
}

.bars{
    cursor: pointer;
    align-content: center;
}

.bar{
    width: 30px;
    height: 3px;
    display: block;
    background: var(--orange);
    border-radius: 3px;
    margin: 5px auto;
    transition: transform 0.3s ease;
}

.bars.active .bar:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bars.active .bar:nth-child(2){
    opacity: 0; 
}

.bars.active .bar:nth-child(3){
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-items{
    position: fixed;
    top: 80px;
    width: 320px;
    height: fit-content;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 0.7rem;
    padding: 2.5rem 1rem;
    row-gap: 1.2rem;
    border-radius: 2.5rem;
    border-top-right-radius: 0;
    box-shadow: 0px 0px 6px var(--shadow);
    background: var(--light-yellow);
}

.nav-items li a{
    text-decoration: none;
    color: var(--orange);
}

.nav-items li{
    list-style: none;
}

/* BANNER */

.banner{
    background-image: url("../img/pexels-picjumbo-com-55570-210660.webp");
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 13rem 0rem;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.banner-text{
    width: 90%;
    margin: auto;
    padding: 0rem 1rem;
    text-align: center;
}

.banner-subtitle{
    font-size: var(--font-size-medium);
    font-family: var(--font-header);
    color: var(--white);
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.banner-title{
    font-size: var(--font-size-large);
    font-family: var(--font-header);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--orange);
    margin-bottom: 0.7rem;
}

.banner-description{
    font-family: var(--font-header);
    font-size: var(--font-size-small-medium);
    font-weight: 500;
    color: var(--white);
    margin-bottom: 3rem;
}

.contact-button{
    background-color: var(--light-yellow);
    color: var(--orange);
    font-family: var(--font-header);
    padding: 0.8rem 2rem;
    border-radius: 50px;
    font-size: var(--font-size-small);
    text-decoration: none;
    font-weight: 500;
    filter: drop-shadow(2px 1.6px 3px var(--shadow));
}

.contact-button i{
    margin-right: 0.5rem;
}


/* SERVIÇES */

.services{
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.services-title,
.services-title-description{
    text-align: center;
}


.services-title{
    font-family: var(--font-header);
    font-size: var(--font-size-medium);
    color: var(--orange);
    margin-bottom: 1rem;
}

.services-title-description{
    font-family: var(--font-body);
    font-size: var(--font-size-small-medium);
    color: var(--gray);
    width: 80%;
    margin: auto;
}

.service-cards{
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
    gap: 1rem;
}

.service-cards::-webkit-scrollbar,
.service-cards::-webkit-scrollbar-thumb{
    background: none;
}

.service-card:nth-child(1){
    margin-left: 1rem;
}
.service-card:nth-child(4){
    margin-right: 1rem;
}

.service-card{
    width: 300px;
    min-width: 300px;
    padding: 2.5rem 1.3rem;
    box-shadow: 1px 1px 8px var(--shadow);
    background: var(--white);
}

.service-logo {
    width: 90px;
    height: 90px;
    padding: 1.2rem;
    border-radius: 100%;
    background: var(--light-yellow);
    text-align: center;
    align-items: center;
    display: flex;
}

.service-logo i{
    width: 100%;
    font-size: 2.8rem;
    color: var(--orange)
}

.service-title{
    font-family: var(--font-card);
    font-size: var(--font-size-small-medium);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.service-description{
    font-size: var(--font-size-small);
    font-family: var(--font-card);
    color: var(--gray);
    font-weight: 500;
}

.arrow{
    width: fit-content;
    display: flex;
    gap: 0.6rem;
    margin-left: auto;
    margin-right: 0.5rem;
    border: 2.3px solid var(--orange);
}

.arrow button{
    border: none;
    cursor: pointer;
    background: none;
    padding: 0.7rem 1.3rem;
}
.arrow button i{
    font-size: 2.5rem;
    color: var(--orange);
}


/* who am i */

.who-am-i{
    padding: 4em 0rem;
    display: flex;
    flex-direction: column;
}

.who-am-i-title{
    width: fit-content;
    margin: auto;
    font-family: var(--font-header);
    font-size: var(--font-size-medium);
    color: var(--orange)
}

.who-am-i-content{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.who-am-i-image{
    width: 100%;
}

.who-am-i-img{
    width: 100%;
    margin-bottom: 3rem;
}

.who-am-i-subtitle{
    font-family: var(--font-header);
    font-size: var(--font-size-small-medium);
    width: fit-content;
    margin-bottom: 1.8rem;
    color: var(--black);
}

.who-am-i-sub-subtitle{
    font-family: var(--font-body);
    font-size: var(--font-size-small-medium);
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.who-am-i-description{
    font-family: var(--font-body);
    font-size: var(--font-size-small-medium);
    margin-bottom: 2rem;
    color: var(--gray);
    text-align: justify;
}

.who-am-i-details{
    display: flex;
    gap: 0.3rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.fulano-details{
    width: 100px;
    padding: 0.8rem 0.5rem;
    background-color: var(--white);
    text-align: center;
    box-shadow: 2px 2px 4px var(--shadow);
}

.details-title{
    font-family: var(--font-card);
    font-size: var(--font-size-small-medium);
    color: var(--orange);
}

.details-description{
    font-family: var(--font-card);
    font-size: var(--font-size-small);
    font-weight: 500;
    color: var(--orange);
}
